.styled-table {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 18px;
}

.styled-table thead tr {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.styled-table th,
.styled-table td {
    padding: 20px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px  seashell ;
}

.styled-table tbody tr th,
.styled-table th.id-azul {
    color: #4d5bf9;
}

.styled-table #pagos {
    font-size: 25px;
    color: #4d5bf9;
    margin: 0 5px 0 0;
}

.styled-table #pagos:hover {
    transition: .2s;
    transform: translateY(-3px) scale(1.05);
    color:grey;
}

@media (max-width: 1400px) {

    .styled-table {
        width: 100%;
        margin: 15px;
        padding: 0;
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .table-wrapper {
        overflow-x: scroll;
        width: 100%;
    }
}

.styled-table #editar {
    font-size: 25px;
    color: #0015ff;
}

.styled-table #editar:hover {
    transition: .2s;
    transform: translateY(-3px) scale(1.05);
    color: #e2a415;
}